@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

<h1>Welcomen til homepage</h1>
<h5>Vælg hvor du vil hend</h5>

<div>
    <button type="button" class="btn btn-success" @onclick=" () => NavigateToUSerList()">Til UserList</button>
    <button type="button" class="btn btn-outline-dark" @onclick="() => NavigateToAddUser() ">Til AddUser</button>
</div>

@code{
    private void NavigateToUSerList() => NavigationManager.NavigateTo("/UserList");
    private void NavigateToAddUser() => NavigationManager.NavigateTo("/AddUser");
}